{% extends 'connexion/base.html' %}
{% load static %}
{% block content %}

<section>
		<div class="feature-photo">
			<figure><img style="max-height:400px !important;" src="{% static info_user_viewed.coverpic %}" alt=""></figure>
			<div class="add-btn">
				<span>0 Abonnés</span>
				<a href="#" title="" data-ripple=""> Suivre </a>
			</div>
			<form class="edit-phto" id="tata" action="{% url 'getimage' 'cover' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Modifier Photo de Couverture Professionnel
				<input type="file" name="pdc-file" accept='image/*' onchange="tata.submit()"/>
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="{% static info_user_viewed.profilpic %}" alt="">
								<form class="edit-phto" id="toto" action="{% url 'getimage' 'profil' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
									{% if user_viewed.id == request.user.id %}
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Modifier Photo
										<input Onchange="toto.submit()" type="file" accept="image/*" name="pdp-file"/>
									</label>
									{% endif %}
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{user_viewed.first_name}} {{user_viewed.last_name}}</h5>
								  <span>{{user_viewed.poste}}</span>
								</li>
								<li>
									<a class="{{journal}}" href="time-line.html" title="" data-ripple="">Journal</a>
									<a class="{{apropos}}" href="{% url 'profil-info' user_viewed.username %}" title="" data-ripple="">A propos</a>
									<a class="{{formation}}" href="{% url 'formation-info' user_viewed.username %}" title="" data-ripple="">Formation</a>
									<a class="{{experience}}" href="timeline-friends.html" title="" data-ripple="">Experience</a>
									<a class="{{competence}}" href="groups.html" title="" data-ripple="">Competence</a>
									<a class="{{interet}}" href="about.html" title="" data-ripple="">Centre d'intêret</a>
									<a class="{{moded}}" href="{% url 'profil-edit-info' %}" title="" data-ripple="">Plus</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
		<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Modification Profil</h4>
										<ul class="naves">
											<li>
												<i class="ti-info-alt"></i>
												<a href="{% url 'profil-edit-info' %}" title="">Information Generale</a>
											</li>
											<li>
												<i class="fa fa-graduation-cap"></i>
												<a href="{% url 'formation-info' request.user.username %}" title="">Formation</a>
											</li>
											<li>
												<i class="fa fa-sliders"></i>
												<a href="edit-interest.html" title="">Competence</a>
											</li>
											<li>
												<i class="fa fa-briefcase"></i>
												<a href="edit-account-setting.html" title="">Experience</a>
											</li>
											<li>
												<i class="ti-heart"></i>
												<a href="edit-password.html" title="">Centre d'intêret</a>
											</li>
											<li>
												<i class="ti-lock"></i>
												<a href="edit-password.html" title="">Mot de passe</a>
											</li>
										</ul>
									</div><!-- settings widget -->	
									<div class="widget  stick-widget">
										<h4 class="widget-title">Publicité Ici</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>Offre</i>
													<span><a href="#" title="">Publicité de 10 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 10 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Ofrre</i>
													<span><a href="#" title="">Publicité de 30 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 25 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Super Offre</i>
													<span><a href="#" title="">Publicité Illimité.</a></span>
													<h6>"<a href="#"> Sponsoring.</a>"</h6>
												</div>
											</li>
										</ul>
										{% comment %}  
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>10 hours Ago</i>
													<span><a title="" href="#">Commented on Video posted </a></span>
													<h6>by <a href="time-line.html">black demon.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>30 Days Ago</i>
													<span><a title="" href="#">Posted your status. “Hello guys, how are you?”</a></span>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>2 Years Ago</i>
													<span><a title="" href="#">Share a video on her timeline.</a></span>
													<h6>"<a href="#">you are so funny mr.been.</a>"</h6>
												</div>
											</li>
										</ul>
										{% endcomment %}
									</div>									
								</aside>
							</div><!-- sidebar -->
							 {% block profil %}                 {% endblock %} 
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">{{user_viewed.last_name}} pages</h4>
												{% comment %}  
											<div class="your-page">
												<figure>
													<a title="" href="#"><img alt="" src="{% static 'connexion/images/resources/friend-avatar9.jpg'%}"></a>
												</figure>
												<div class="page-meta">
													<a class="underline" title="" href="#">My page</a>
													<span><i class="ti-comment"></i>Messages <em>9</em></span>
													<span><i class="ti-bell"></i>Notifications <em>2</em></span>
												</div>
												<div class="page-likes">
													<ul class="nav nav-tabs likes-btn">
														<li class="nav-item"><a data-toggle="tab" href="#link1" class="active">likes</a></li>
														 <li class="nav-item"><a data-toggle="tab" href="#link2" class="">views</a></li>
													</ul>
													<!-- Tab panes -->
													<div class="tab-content">
													  <div id="link1" class="tab-pane active fade show">
														<span><i class="ti-heart"></i>884</span>
														  <a title="weekly-likes" href="#">35 new likes this week</a>
														  <div class="users-thumb-list">
														  	<a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
																<img alt="" src="{% static 'connexion/images/resources/userlist-1.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="frank">
																<img alt="" src="{% static 'connexion/images/resources/userlist-2.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
																<img alt="" src="{% static 'connexion/images/resources/userlist-3.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
																<img alt="" src="{% static 'connexion/images/resources/userlist-4.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
																<img alt="" src="{% static 'connexion/images/resources/userlist-5.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Sophie">
																<img alt="" src="{% static 'connexion/images/resources/userlist-6.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Maria">
																<img alt="" src="{% static 'connexion/images/resources/userlist-7.jpg'%}">  
															</a>  
														  </div>
													  </div>
													  <div id="link2" class="tab-pane fade">
														  <span><i class="ti-eye"></i>445</span>
														  <a title="weekly-likes" href="#">440 new views this week</a>
														  <div class="users-thumb-list">
														  	<a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
																<img alt="" src="{% static 'connexion/images/resources/userlist-1.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="frank">
																<img alt="" src="{% static 'connexion/images/resources/userlist-2.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
																<img alt="" src="{% static 'connexion/images/resources/userlist-3.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
																<img alt="" src="{% static 'connexion/images/resources/userlist-4.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
																<img alt="" src="{% static 'connexion/images/resources/userlist-5.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Sophie">
																<img alt="" src="{% static 'connexion/images/resources/userlist-6.jpg'%}">  
															</a>
															<a data-toggle="tooltip" title="" href="#" data-original-title="Maria">
																<img alt="" src="{% static 'connexion/images/resources/userlist-7.jpg'%}">  
															</a>  
														  </div>
													  </div>
													</div>
												</div>
											</div>
											{% endcomment %}
										</div>
									<div class="widget stick-widget">
										<h4 class="widget-title">Profil Similaire</h4>
										<ul id="people-list" class="friendz-list">
											<li>
												<figure>
													<img src="{% static 'connexion/images/Picture/profil/3.png' %}" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a Onclick="window.location='{% url 'profil-info' 'gaetan1903' %}'">Gaetan Jonathan</a>
													<i><a href="#" class="__cf_email__" >gaetan.s118@gmail.com</a></i>
												</div>
											</li>
												<li>
												<figure>
													<img src="{% static 'connexion/images/Picture/profil/4.png' %}" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a Onclick="window.location='{% url 'profil-info' 'manambintsoa4' %}'">Mihaingoherilanto Manambintsoa</a>
													<i><a href="#" class="__cf_email__" >ntsoa.s118@gmail.com</a></i>
												</div>
											</li>
												<li>
												<figure>
													<img src="{% static 'connexion/images/Picture/profil/5.png' %}" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a Onclick="window.location='{% url 'profil-info' 'landry5' %}'">Manankoraisina Landry</a>
													<i><a href="#" class="__cf_email__" >landry.apsa@gmail.com</a></i>
												</div>
											</li>
										</ul>
									</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
   
 

{% endblock %}

