{% extends 'connexion/base.html' %}
{% load static %}
{% block content %}
<div class="theme-layout">
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Ti-ASA Service Profesionnel</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="#" title="">Auto-envoie CV par Mail</a>
											</li>
											<li>
												<i class="ti-mouse-alt"></i>
												<a href="#" title="">Generateur de CV</a>
											</li>
											<li>
												<i class="ti-files"></i>
												<a href="#" title="">Pages de recrutement</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="#" title="">Reseau Profesionel</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="#" title="">Suggestion Profil/Offre</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->
									<div class="widget">
										<h4 class="widget-title">Publicité Ici</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>Offre</i>
													<span><a href="#" title="">Publicité de 10 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 10 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Ofrre</i>
													<span><a href="#" title="">Publicité de 30 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 25 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Super Offre</i>
													<span><a href="#" title="">Publicité Illimité.</a></span>
													<h6>"<a href="#"> Sponsoring.</a>"</h6>
												</div>
											</li>
										</ul>
									</div><!-- recent activites -->
									<div class="widget stick-widget">
										<h4 class="widget-title">Publicité Ici</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>Offre</i>
													<span><a href="#" title="">Publicité de 10 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 10 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Ofrre</i>
													<span><a href="#" title="">Publicité de 30 Jours</a></span>
													<h6>Pour <a href="time-line.html">Ar 25 000.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>Super Offre</i>
													<span><a href="#" title="">Publicité Illimité.</a></span>
													<h6>"<a href="#"> Sponsoring.</a>"</h6>
												</div>
											</li>
										</ul>
									</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
							 
								<div class="central-meta">
									<div class="new-postbox", id='cnt'>
											<figure>

												<img style="border-radius:50%;width:36px;height:36px" src="{% static info_user.profilpic %}" alt="">

											</figure>
											<div class="newpst-input">
										
												<form method="post" action="{% url 'publier-poste' %}" enctype="multipart/form-data" >{% csrf_token %}
													<textarea id="pub" name="texte" rows="2" placeholder="Publier un Offre d'emploi ou autre" required="required" ></textarea>
													<div class="attachments">
														<ul>
															<li>
																<i class="fa fa-music"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<i class="fa fa-image"></i>
																<label class="fileContainer">
																	<input type="file" name="image" accept="image/*">
																</label>
															</li>
															<li>
																<i class="fa fa-video-camera"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<i class="fa fa-file"></i>
																<label class="fileContainer">
																	<input type="file">
																</label>
															</li>
															<li>
																<button type="submit">Publier</button>
															</li>
														</ul>
													</div>
													<div id="publication" style="display:none;">

														<div class="form-group">	
															<input type="text" name="mission"/>
															<label class="control-label" style="font-size:14px !important;" for="input">Missions</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">	
															<input type="text" name="formation"/>
															<label class="control-label" style="font-size:14px !important;" for="input">Formation</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">	
															<input type="text" name="experience" />
															<label class="control-label"  style="font-size:14px !important;"  for="input">Experiences Minimum</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">	
															<input type="text" name="competence"  />
															<label class="control-label"  style="font-size:14px !important;" for="input">Competetences</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">	
															<input type="text" name="personnalite" />
															<label class="control-label"  style="font-size:14px !important;" for="input">Personalités</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">	
															<input type="text" name="langue"/>
															<label class="control-label"  style="font-size:14px !important;" for="input">Langues</label><i class="mtrl-select"></i>
														</div>
														<div class="form-group">
															<fieldset style="padding-top:0.01em !important;padding-bottom:1em !important;padding-left:0.25em !important;">
																<legend style="font-size:14px !important;color:#088dcd">  Date limite </legend>
																<div class="form-group half" style="margin-left:1px !important;">
																	<select style="color:#088dcd" name='jour'>
																		<option value="">Jour</option>
																		{% for day in days %}
																		<option>{{day}}</option>
																		{% endfor %}
																	</select>
																</div>
																<div class="form-group half" style="margin-left:5px !important;">
																	<select name='mois'>
																		<option value="">Mois</option>
																		<option>Janvier</option>
																		<option>Fevrier</option>
																		<option >Mars</option>
																		<option>Avril</option>
																		<option >Mai</option>
																		<option >Juin</option>
																		<option >Juillet</option>
																		<option >Aout</option>
																		<option >Septembre</option>
																		<option >Octobre</option>
																		<option >Novembre</option>
																		<option >Decembre</option>
																	</select>
																</div>
														  	</fieldset>
														</div>
														<div class="form-group">	
															<input type="text" name="lieu" />
															<label class="control-label" style="font-size:14px !important;" for="input">Lieu</label><i class="mtrl-select"></i>
														</div>
													</div>
												</form>
												
											</div>
										</div>
									</div><!-- add post new box -->
									
									{% for user_viewed in users_viewed %}

										<div class="central-meta item">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="{% static user_viewed.pdp  %}" alt="">
													</figure>
													<div class="friend-name">
														<ins><a href="{% url 'profil-info' user_viewed.username %}" title="">{{user_viewed.first_name}} {{user_viewed.last_name}}</a></ins>
														<span>publié: {{ user_viewed.date_upload }}</span>
													</div>
													<div class="post-meta">
														<div class="description">
															<p style="color:#999;font-size:16px">
															{{ user_viewed.legende}}
															</p>
														<div>
															{% if user_viewed.mission != '' and user_viewed.mission is not None  %}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Mission </h5> 
																<p class="para" style="display: block; color:#333;">
																{% for mission in user_viewed.mission %}
																	<li style="margin-left:50px !important;"> {{mission}} </li>
																{% endfor %}
															{% endif %}
																</p>
																<i class="mtrl-select"></i>
															{% if user_viewed.formation != '' and user_viewed.formation is not None%}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Formation :</h5> 
																<p class="para" style="display: block; color:#333">
																{% for formation in user_viewed.formation %}
																	<li style="margin-left:50px !important;"> {{formation}} </li>
																{% endfor %}
																</p>
																<i class="mtrl-select"></i>
															{% endif %}
															{% if user_viewed.experience != '' and user_viewed.experience is not None  %}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Experience :</h5> 
																<p class="para" style="display: block; color:#333;">
																{% for experience in user_viewed.experience %}
																	<li style="margin-left:50px !important;"> {{experience}} </li>
																{% endfor %}
																</p>
																<i class="mtrl-select"></i>
															{% endif %}
															{% if user_viewed.competence != '' and user_viewed.competence is not None %}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Competence :</h5> 
																<p class="para" style="display: block; color:#333;">
																{% for competence in user_viewed.competence %}
																	<li style="margin-left:50px !important;"> {{competence}} </li>
																{% endfor %}
																</p>
																<i class="mtrl-select"></i>
															{% endif %}
																														
															{% if user_viewed.langue != '' and user_viewed.langue is not None %}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Langue:</h5>
																<p class="para" style="display: block;">
																{% for langue in user_viewed.langue%}
																	<li style="margin-left:50px !important;"> {{langue}} </li>
																{% endfor %}
																</p>
																<i class="mtrl-select"></i>
															{% endif %}
															{% if user_viewed.date_limit_mois != '' and user_viewed.date_limit_mois is not None %}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Date Limite:</h5> 
																<p class="para" style="display: block; color:#333;">{{user_viewed.date_limit_jour}} {{user_viewed.date_limit_mois}}</p>
																<i class="mtrl-select"></i>
															{% endif %}
															{% if user_viewed.lieu != '' and user_viewed.lieu is not None%}
																<h5 class="laline" style="display: inline;color:#088dcd;font-weight:Bold;">Lieu:</h5> 
																<p class="para" style="display: block; color:#333;"> {{user_viewed.lieu}} </p>
																<i class="mtrl-select"></i>
															{% endif %}
														</div> 
													</div>
													{% if user_viewed.image != '' and user_viewed.image is not None %}
														<img src="{% static user_viewed.image %}" alt="">
													{% endif %}
												
												</div>
											</div>
											
										</div>
									</div>


									{% endfor %}
								</div><!-- centerl meta -->
							
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Exemple de Page</h4>	
										<div class="your-page">
											<figure>
												<a href="#" title=""><img src="{% static 'connexion/images/esti.png' %}" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="#" title="" class="underline">ESTI Antanimena</a>
												<span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
												<span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
											</div>
											<div class="page-likes">
												<ul class="nav nav-tabs likes-btn">
													<li class="nav-item"><a class="active" href="#link1" data-toggle="tab">Interessés</a></li>
													 <li class="nav-item"><a class="" href="#link2" data-toggle="tab">Vues</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content">
												  <div class="tab-pane active fade show " id="link1" >
													<span><i class="ti-heart"></i>1144</span>
													  <a> Entreprises s'interessent</a>
											
												  <div class="tab-pane fade" id="link2" >
													  <span><i class="ti-eye"></i>440</span>
													  <a href="#" title="weekly-likes">440 new views this week</a>
													  <div class="users-thumb-list">
														<a href="#" title="Anderw" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-1.jpg' %}" alt="">  
														</a>
														<a href="#" title="frank" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-2.jpg' %}" alt="">  
														</a>
														<a href="#" title="Sara" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-3.jpg' %}" alt="">  
														</a>
														<a href="#" title="Amy" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-4.jpg' %}" alt="">  
														</a>
														<a href="#" title="Ema" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-5.jpg' %}" alt="">  
														</a>
														<a href="#" title="Sophie" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-6.jpg' %}" alt="">  
														</a>
														<a href="#" title="Maria" data-toggle="tooltip">
															<img src="{% static 'connexion/images/resources/userlist-7.jpg' %}" alt="">  
														</a>  
													  </div>
												  </div>
												</div>
											</div>
										</div>
										</div>
									</div><!-- page like widget -->
									
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div class="bg-image" style="background-image: url({% static 'connexion/images/resources/baner-widgetbg.jpg)' %}"></div>
											<div class="baner-top">
												<span><img alt="" src="{% static 'connexion/images/book-icon.png' %}"></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													Créer une page d'entreprise pour recruter facilement
												</p>
												<span>@ti-asa</span>
												<a data-ripple="" title="" style="color:#088dcd" href="#">Commencer Maintenant @ti-asa!</a>
											</div>
										</div>											
									</div>
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Profil Intéressant</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											<li>
												<figure>
													<img src="{% static info_user.profilpic %}" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">Gaetan Jonathan</a>
													<i><a href="#" class="__cf_email__" >gaetan.s118@gmail.com</a></i>
												</div>
											</li>
										
										</ul>
										<div class="chat-box">
											<div class="chat-head">
												<span class="status f-online"></span>
												<h6>Bucky Barnes</h6>
												<div class="more">
													<span><i class="ti-more-alt"></i></span>
													<span class="close-mesage"><i class="ti-close"></i></span>
												</div>
											</div>
											<div class="chat-list">
												<ul>
													<li class="me">
														<div class="chat-thumb"><img src="{% static 'connexion/images/resources/chatlist1.jpg' %}" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="you">
														<div class="chat-thumb"><img src="{% static 'connexion/images/resources/chatlist2.jpg' %}" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="me">
														<div class="chat-thumb"><img src="{% static 'connexion/images/resources/chatlist1.jpg' %}" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
												</ul>
												<form class="text-box">
													<textarea placeholder="Post enter to post..."></textarea>
													<div class="add-smiles">
														<span title="add icon" class="em em-expressionless"></span>
													</div>
													<div class="smiles-bunch">
														<i class="em em---1"></i>
														<i class="em em-smiley"></i>
														<i class="em em-anguished"></i>
														<i class="em em-laughing"></i>
														<i class="em em-angry"></i>
														<i class="em em-astonished"></i>
														<i class="em em-blush"></i>
														<i class="em em-disappointed"></i>
														<i class="em em-worried"></i>
														<i class="em em-kissing_heart"></i>
														<i class="em em-rage"></i>
														<i class="em em-stuck_out_tongue"></i>
													</div>
													<button type="submit"></button>
												</form>
											</div>
										</div>
									</div><!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
{% endblock %}