{% extends 'connexion/base_profil.html' %}
{% load static %}


	{% block profil %}    
    <div class="col-lg-6">
        <div class="central-meta">
            <div class="editing-info">
                <h5 class="f-title"><i class="ti-info-alt"></i> Editer le mot de passe</h5>
                
                <form method="post" class="formcomp" action="{% url 'update-pass'%}">{% csrf_token %}
                    <div class="form-group">	
                        <input type="password" name="ex-mdp" required="required"/>
                        <label class="control-label" for="input">Ancien mot de passe</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group">	
                        <input type="password" name="new-mdp" id="input" required="required"/>
                        <label class="control-label" for="input">Nouveau mot de passe</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group">	
                        <input type="password" name="conf-mdp" required="required"/>
                        <label class="control-label" for="input">Confirmer votre mot de passe</label><i class="mtrl-select"></i>
                    </div>
                    <a class="forgot-pwd underline" title="" href="#">Mot de passe oublié?</a>
                    <div class="submit-btns">
                        <button type="button" class="mtr-btn"><span>Annuler</span></button>
                        <button type="submit" class="mtr-btn"><span>Mettre à jour</span></button>
                    </div>
                </form>
                
            </div>
        </div>	
    </div><!-- centerl meta -->
    {% endblock %}