{% extends 'connexion/base_profil.html' %}
{% load static %}


	{% block profil %}
        <div class="col-lg-6">
            <div class="central-meta">
                <div class="editing-info">
                    <h5 class="f-title"><i class="ti-info-alt"></i> Centres d'intérêts</h5>
                     {% if request.user.id == user_viewed.id %}
                        <i OnClick="window.location='{% url 'interet-info-add' %}'"  style="color: #088dcd !important; font-size: 50px !important; display: inline !important;margin-left:60%!important;cursor:pointer !important;" class="fa fa-plus addeo"> </i>	
                    {% endif %}
                    {% for user_interet in users_interet %}
                    <form method="post" class="formcomp">
                        <div class="form-group">	
                            <i class="fa fa-heart forc" style="display: inline"> <h6 class="comp" style="display: inline">{{user_interet.interet}}</h6> </i>
                            <i class="mtrl-select"></i>
                            <p class="para" style="display: block">{{user_interet.description}}</p>
                            {% if user_viewed.id == request.user.id %}
                            <div class="submit-btns bouton" style="margin-left:50% !important; display:inline">
                                <button type="button" style="color:#ff4b5a" Onclick="x=confirm('Etes vous sur de vouloir supprimer?');if(x){window.location='{% url 'interet-info-delete' user_interet.id %}'};" class="mtr-btn"><span>Supprimer</span></button>
                                <button  Onclick="window.location='{% url 'interet-info-edit' user_interet.id %}'"   type="button" class="mtr-btn" ><span>Modifier</span></button>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>	
        </div><!-- centerl meta -->


    {% endblock %}